<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				<a class="brand" href="/index">NCKU Course</a>
				<% if current_user %>
				<li class="<%= 'active' if params[:controller] == 'course' %>"> <a href="#">Course</a> </li>
				<li class="<%= 'active' if params[:controller] == 'controller2' %>"> <a href="/link">Link</a> </li>
				<li class="<%= 'active' if params[:controller] == 'controller3' %>"> <a href="/link">Link</a> </li>
				<% end %>
			</ul>
		</div>
	</div>
</div>
