<div class="hero-unit">
	<h1>NCKU Course</h1>
	<h3>
		<div id="user_nav">
			<% if current_user %>
			Signed in as <strong><%= current_user.name %></strong>!
			<%= link_to "Sign out", signout_path, id: "sign_out" %>
			<% else %>
			<%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
			<% end %>
		</div>
	</h3>
	<p>
		<a class="btn btn-primary btn-large">
			Learn more
		</a>
	</p>
	<% if current_user %>
	  <%= current_user.friends %>
	<% end %>
</div>