<div class="container">
	<div class="hero-unit center">
		<h3>Welcome to NCKU Course</h3>
		<%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" ,:class => "btn btn-primary btn-large "%>
	</div>
</div>