<div class="span4">
	<form action="course_submit" method="get" accept-charset="utf-8">
	<label for=""> 輸入課程代碼</label><input type="text/submit/hidden/button" name="" value="" id="">
	

	<p><input type="submit" value="Continue &rarr;"></p>
</form>
</div>
