<table>
  <tr>
    <th>Name</th>
    <th>SN</th>
    <th>Time</th>
  </tr>

<% @courses.each do |courses| %>
  <tr>
    <td><%= courses.name %></td>
    <td><%= courses.sn %></td>
    <td><%= courses.time %></td>
		<td><button type="button">Click Me!</button></td>
  </tr>
<% end %>
</table>