<div class="container-fluid">
  <% flash.each do |name, msg| %>
  <div class="alert alert-error">
    <strong>Warning!</strong><%= content_tag :p, msg, id: "flash_#{name}" %>
  </div>
  <% end %>
  <% current_user.gender %>
  <div class="row-fluid">
    <div class="span8">
      <div class="row-fluid">
        <div class="span8">
          <h3>Courses</h3>
        </div>
        <div id="courses">
          <%= render :partial =>'/course/courses' %>
        </div>
      </div>
    </div>
    <div class="span4">
      <h3>My Courses</h3>
        <%= render :partial =>'/course/my_courses' %>
    </div>
  </div>
</div>