<%= render :partial => "/main/header" %>
<div class="container">
		<div class="page-header">
  		<h1>源起</h1>
  	</div>
		<div class="well">
			<p>"The key is to pick up things that you think are really important, and then focus on them." -- Jeff Bezos , CEO of Amazon.</p>
			<p>"關鍵就是找到你認為真正重要的事情, 然後對它聚焦."-- 傑夫 貝佐斯, 亞馬遜執行長</p>

			<p>出家人不打手槍，創業家不出誑語，雖然我還不算是個完全的創業家，但我喜歡我開頭說的第一句話，身為成大人，我認為能讓成大更好，是我從這邊畢業前該還給他的，於是我手寫我口，一行一行從無到有，成大的選課系統可能不容易改變，但希望能讓成大的學生選課更方便</p>
			<p><%= link_to "Gary Lai", "http://www.facebook.com/GaryLai.CH", :target => "_blank" %></p>	
		</div>
	</div>
</div>	