// Place all the styles related to the course controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table{
	form{
	margin:0px;
	}
}
body > .container{
  	margin-top: 60px;
}
.center {
	text-align: center;
}