<!DOCTYPE html>
<html>
  <head>
    <title>NCKU Course</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link rel="shortcut icon" href="/favicon.ico" />
		<meta property="og:title" content="NCKU Course" />
    <meta property="og:type" content="university" />
    <meta property="og:url" content="http://nckucourse.com/" />
    <meta property="og:image" content="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-ash4/291906_193464237452761_425740959_n.jpg" />
    <meta property="og:site_name" content="nckucourse" />
    <meta property="fb:admins" content="100003544640331" />
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31015880-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </head>
  <body>
  <%= yield %>
  </body>
</html>
