<!DOCTYPE html>
<html>
  <head>
    <title>NCKU Course</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link rel="shortcut icon" href="/favicon.ico" />
		<meta property="og:title" content="NCKU Course" />
		<meta property="og:type" content="school" />
		<meta property="og:url" content="http://nckucourse.herokuapp.com/" />
		<meta property="og:image" content="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-ash4/291906_193464237452761_425740959_n.jpg" />
		<meta property="og:site_name" content="nckucourse" />
		<meta property="fb:admins" content="100003544640331" />
  </head>
  <body>
  <%= yield %>
  </body>
</html>
